h1{
    text-align: center;
}
.js{
    margin: 10%;
    margin-right:300px ;
}
/*h2{*/
    /*text-align: center;*/
/*}*/
/*a{*/
    /*margin-left: 650px;*/
/*!*}*!*/
/*a{*/
    /*margin-left: 700px;*/
/*}*/
#change{
    display: grid;
    margin: 50px;
    font-size: x-large;
    color: deepskyblue;
}
section{
    margin:200px
}
/*body{*/
    /*background-image: url("new_languages.png");*/
/*}*/
h2{
    text-align: center;
    font-family: 'Felipa', cursive;
}
h1{
    color: deepskyblue;
    font-family: 'Felipa', cursive;
}
.con{
    margin-left: 650px;
}
.bs{
    margin-left: 650px;
}
.while{
    margin-left: 650px;
}
.rays{
    margin-left: 650px;
}
.cond{
    margin-left: 650px;
}
.switch{
    margin-left: 650px;
}
.map{
    margin-left: 650px;
}
.fun{
    margin-left: 650px;
}
.loops2{
    margin-left: 650px;
}
.co{
    margin-left: 650px;

}
.base{
    margin-left: 650px;
}
.selector{
    margin-left: 650px;
}
.media{
    margin-left: 650px;
}