h1{
    text-align: center;
    font-family: 'Felipa', cursive;
    font-size: xx-large;
}

h2{
    text-align: center;
    font-family: 'Felipa', cursive;
    font-size: xx-large;
}
p{
    margin-left:450px;
    font-size: large;
    font-family: 'Felipa', cursive;
    color: deepskyblue;
}
