body{
    background-image: url("clem-onojeghuo-207792-unsplash.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /*display: grid;*/
    /*grid-template-columns: 1fr 1fr 1fr ;*/
}
h1 {
    text-align: center;
    margin-top: 550px;
    font-weight: inherit;
    font-size: 65px;
    font-family: 'Felipa', cursive;
    color:red;
}
img{
    margin-left: 750px;
    font-size: x-large;
    height: 100px;
}
button{
    border: none;
    background-color: orangered;
    /*display: grid;*/
    /*grid-auto-columns: 1fr 1fr 1fr 1fr 1fr 1fr;*/
}
#content{
    text-align: center;
}

/*}*/
/*.down{*/
    /*transform: matrix();*/
/*}*/
/*h2{*/
    /*text-align: center;*/
/*}*/

/*.moving{*/
    /*animation: backwards;*/
/*}*/
/*.downtriangle{*/
    /*width: 0;*/
    /*height: 0;*/
    /*border-left: 25px solid transparent;*/
    /*border-right: 25px solid transparent;*/
    /*border-top: 50px solid gold;*/
/*}*/
/*div{*/
    /*text-align: center;*/
/*}*/
