body{
    background: black;
}
h1{
    text-align: center;
}
.js{
    margin: 10%;
    margin-right:300px ;
}
/*h2{*/
    /*text-align: center;*/
/*}*/
/*a{*/
    /*margin-left: 650px;*/
/*!*}*!*/
/*a{*/
    /*margin-left: 700px;*/
/*}*/
#change{
    display: grid;
    margin: 50px;
    font-size: x-large;
    color: green;
}
section{
    margin:200px
}
/*body{*/
    /*background-image: url("new_languages.png");*/
/*}*/
h2{
    text-align: center;
    font-family: 'Felipa', cursive;
    color: green;
}
h1{
    color: green;
    font-family: 'Felipa', cursive;
}
.con{
    margin-left: 650px;
    color: red;
}
.bs{
    margin-left: 650px;
    color:yellow;
}
.while{
    margin-left: 650px;
    color:red;
}
.rays{
    margin-left: 650px;
    color: yellow;
}
.cond{
    margin-left: 650px;
    color:red;
}
.switch{
    margin-left: 650px;
    color: yellow;
}
.map{
    margin-left: 650px;
    color: red;
}
.fun{
    margin-left: 650px;
    color: yellow;
}
.loops2{
    margin-left: 650px;
    color: red;
}
.co{
    margin-left: 650px;
    color: yellow;

}
.base{
    margin-left: 650px;
    color: red;
}
.selector{
    margin-left: 650px;
    color: yellow;
}
.media{
    margin-left: 650px;
    color: red;
}
.navabar {
    text-align: center;
    color: black;
}
button{
    border: none;
    background-color: black;
    /*display: grid;*/
    /*grid-auto-columns: 1fr 1fr 1fr 1fr 1fr 1fr;*/
    font-size: large;
    color:white;
}