body{
    background-image: url("181030-signify-mighty-lights-hernando-desoto-bridge-over-mississippi-river.jpg");
    /*background-repeat: no-repeat;*/
    /*background-position: center;*/
    /*background-size: cover;*/
    margin: 10%;
    background-color: black;
    background-repeat: no-repeat;
    background-position: center;
    background-size: revert;
}
.animated{
    text-align: center;
    display: grid;
    grid-template-columns:repeat(4,1fr);
    color: snow;
    font-family: 'Cormorant Unicase', serif;




}
/*p1{*/
    /*margin-bottom: 200px;*/
    /*!*display: grid;*!*/
    /*!*grid-template-columns: 1fr;*!*/
    /*!*grid-template-rows: 250px;*!*/
    /*!*grid-template-areas:"p1 p2";*!*/
    /*color: black;*/
    /*font-size: x-large;*/
/*}*/
/*{*/
    /*color: ivory;*/
/*}*/

#parentgrid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 325px;
    grid-template-areas: "p1";
     "p2";
    color: black;
    font-size: xx-large;
}
p1{
    margin-bottom: 400px;
    color: green;
    font-family: 'Cormorant Unicase', serif;


}
/*p2 {*/
/*    color: black;*/
/*    font-family: 'Faster One', cursive;*/
/*}*/

.memphis{
   margin-left: 820px;
}
.navbar{
    text-align: center;
    background-color: black;
    /*color: snow;*/
}
button{
    border: none;
    background-color: black;
    font-size: large;
    color:snow;
}
h1{
    text-align: center;
}
.memphis{
    margin-bottom: 12px;
}