/*body{*/
    /*background-image: url("jussara-romao-346024-unsplash.jpg");*/
/*}*/
.resume{
    margin-left: 30%;
    height: 900px;
    width: 900px;


}
body{
    background-color: aquamarine;
}
.date-back{
    margin-left: 10px;
}
