body{
    background-image: url("clem-onojeghuo-207792-unsplash.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}
h1{
    text-align: center;
    /*margin-top: 250px;*/
    color: ivory;

}
p{
    margin-bottom: 200px;
    display: grid;
    grid-template-columns: 1fr  1fr 1fr ;
    color: aliceblue;
    font-size: x-large;
}
img{
    color: ivory;
}
/*.right{*/
    /*!*margin-top: 550px;*!*/
    /*!*display:grid;*!*/
    /*!*grid-template-columns: 1fr  1fr 1fr ;*!*/
    /*!*color: aliceblue;*!*/
    /*!*font-size: x-large;*!*/
    /*text-align: end;*/
/*}*/

/*!*#parentgrid{*!*/
    /*!*display: grid;*!*/
    /*!*grid-template-columns: 1fr  1fr 1fr ;*!*/
    /*!*grid-template-areas:*!*/
    /*!*"p1";*!*/
    /*!*"p2"*!*/

    /*!*color: aliceblue;*!*/
    /*!*font-size: x-large;*!*/
/*}*/

