body{
    /*background-image: url(");*/
    /*background-repeat: no-repeat;*/
    /*background-position: center;*/
    /*background-size: cover;*/
    margin: 10%;

}
h1{
    text-align: center;
    /*margin-bottom: 250px;*/
    color: black;
    font-family: 'Felipa', cursive;


}
/*p1{*/
    /*margin-bottom: 200px;*/
    /*!*display: grid;*!*/
    /*!*grid-template-columns: 1fr;*!*/
    /*!*grid-template-rows: 250px;*!*/
    /*!*grid-template-areas:"p1 p2";*!*/
    /*color: black;*/
    /*font-size: x-large;*/
/*}*/
/*{*/
    /*color: ivory;*/
/*}*/

#parentgrid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 325px;
    grid-template-areas: "p1";
     "p2";
    color: black;
    font-size: xx-large;
}
p1{
    color: deepskyblue;
    font-family: 'Felipa', cursive;
}
p2{
    color: deepskyblue;
    font-family: 'Felipa', cursive;
}

